@media (max-width: 900px) {
    .section-list {
        font-size: 13px;

        &__section_time {
            font-size: 10px;
        }
    }
}

@media (max-width: 700px) {
    .section-list {
        font-size: 14px;

        &__section {
            width: 115px;
            height: 115px;
        }

        &__section_time {
            font-size: 8px;
        }
    }
}